.track-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin-bottom: 3rem;

    .album-card {
        position: relative;

        .albumArt {
            -webkit-transform: scale(1);
            transform: scale(1);
            -webkit-transition: 0.3s ease-in-out;
            transition: 0.3s ease-in-out;
           
            
        }

        &:hover {
            .albumArt {
            //    transform: scale(1.1);
            transform: translateY(-10%);

                // overflow: hidden;
            }

            .album-card-overlay {
                visibility: visible;
                // opacity: 1;
                padding: 1rem;
                transform: translate(0, 0);
            }
        }

        .setArtist{
                // position: absolute;
                // right: 0;
                background-color: rgb(15, 15, 15);
                color: #fff;
                position: absolute;
                top: 0;
                z-index: 12763;
            }


        .album-card-overlay {
            // opacity: 1;
            position: absolute;
            bottom: 0;
            z-index: 1298713;
            background-color: #121212;
            display: flex;
            width: 100%;
            flex-direction: column;
            justify-content: space-between;

            gap: 0.5rem;
            transform: translateY(6.5rem);
            transition: all 0.3s ease-in-out;
            z-index: 0;
            color: rgb(236, 235, 235);
            visibility: hidden;
            // height: 0;

            
            .artists{
                .artistName{
                    // color: #1db954;
                    text-decoration: underline;
                    cursor: pointer;
                    position: relative;
                    &:hover{
                        color: #1db954;
                    }

                    &::before{
                        // content: "Find similar";
                        position: absolute;
                        // top: -20px;
                        // right: -20px;
                        padding: 1rem;
                        // background-color: rgb(113, 113, 255);
                    }
                }
            }


            .btn-container {
                display: flex;
                gap: 0.5rem;
            }
            button {
                padding: 0.6rem 0.5rem;
                cursor: pointer;
                flex: 1;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 0.3rem;
            }

            .listen{
                background-color: #1db954;
                color: #fff;
                border: none;
                border-radius: 4px;
                a{
                    color: #fff;
                    text-decoration: none;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: .5rem;
                }
            }
        }

        // .info {
        //     position: absolute;
        //     bottom: 0.6rem;
        //     right: 0.6rem;
        //     width: 2rem;
        //     height: 2rem;
        //     border-radius: 100px;
        //     background-color: rgb(255, 255, 255);
        //     border: 2px solid #000;
        //     display: flex;
        //     justify-content: center;
        //     align-items: center;
        //     cursor: pointer;
        //     font-family: monospace;
        //     font-size: 1.5rem;
        // }
    }
}
