   .header {
        height: 4rem;
        background-color: #ffffff;
        margin-bottom: 1rem;
        border-radius: 4px;

        --tw-ring-offset-shadow: 0 0 #0000;
        --tw-ring-shadow: 0 0 #0000;
        box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000),
            0 2.65546px 95px rgba(0, 0, 0, 0.1);

        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 1rem;
        .logo {
            // font-size: 2rem;
            font-weight: 900;
            cursor: default;
            text-transform: uppercase;
        }

        button {
            display: flex;
            align-items: center;
            gap: 0.4rem;
            padding: 0.4rem 0.6rem;
            border: 2px solid rgb(224, 219, 219);
            background-color: #eceaeb;
            border-radius: 6px;
            cursor: pointer;
        }
    }
