.container {
    position: relative;
    background-color: #fbfaf9;
    // background-color: #121212;
    // mrgn-top: 1rem;
    min-height: 100vh;
    min-width: 100%;

    .presets {
        // min-height: 100vh;
        width: 25vw;

        // padding: 1rem;
        border-radius: 4px;
        min-height: 100vh;
        // position: absolute;
        // left: -20rem;
        // margin-right: 2rem;
        --tw-ring-offset-shadow: 0 0 #0000;
        --tw-ring-shadow: 0 0 #0000;
        box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000),
            0 2.65546px 95px rgba(0, 0, 0, 0.1);

        position: fixed;
        // right: 0;
        display: flex;
        flex-direction: column;
        // gap: 2rem;
        // align-items: flex-start;
        // justify-content: center;

        width: 22rem;
        height: 100vh;
        background-color: #f7f6f3;
        position: fixed;
        height: 100%;
        top: 0;
        right: 0;
        z-index: 1;
        transition: transform 0.3s cubic-bezier(0.5, 0, 0, 0.75);

        background-color: #161616;
        color: #f0f0f0;

        .strip {
            width: 46px;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background-color: #000;

            .toggle {
                label {
                    position: absolute;
                    z-index: 1;
                    cursor: pointer;
                    display: block;
                    width: 100%;
                    padding: 16px 15px;
                    height: 100%;
                }
            }
        }

        .content {
            margin-left: 46px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            // gap: 1rem;
        }

        .selectedContainer {
            display: flex;
            align-items: center;
            gap: 0.5rem;
        }

        .selected {
            background-color: #69fc4b;
            color: black;
            width: max-content;
            padding: 0.3rem 0.6rem;
            border-radius: 4px;
        }

        .inputBox {
            display: flex;

            input {
                flex: 1;
            }
        }
    }
}

.Clouds {
    background-image: linear-gradient(-20deg, #e9defa 0%, #fbfcdb 100%);
}

.Thunderstorm {
    background-image: linear-gradient(to top, #09203f 0%, #537895 100%);
}

.Drizzle {
    background: linear-gradient(to bottom, #d9a7c7, #fffcdc);
}

.Rain {
    background: linear-gradient(to bottom, #fffbd5, #b20a2c);
    background-image: linear-gradient(to top, #fffbd5 0%, #47b5ff 100%);
}

.Snow {
    background-image: linear-gradient(to top, #accbee 0%, #e7f0fd 100%);
}

.Mist {
    background-image: linear-gradient(to top, #ff2f52 0%, #d5e3f8 99%, #e3eeff 100%);
}
.Smoke {
    background-image: linear-gradient(
        to top,
        lightgrey 0%,
        lightgrey 1%,
        #e0e0e0 26%,
        #efefef 48%,
        #d9d9d9 75%,
        #bcbcbc 100%
    );
}
.Haze {
    background-image: linear-gradient(to top, #e8198b 0%, #c7eafd 100%);
}
.Fog {
    background: linear-gradient(to right, #ada996, #f2f2f2, #dbdbdb, #eaeaea);
}
.Sand {
    background-image: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);
}
.Dust {
    background-image: linear-gradient(to top, #f5f5f5 0%, #c1c1c1 100%);
}
.Ash {
    background-image: linear-gradient(to top, #35373a 0%, #e9edf0 100%);
}
.Squall {
    background: linear-gradient(to top, #f0f2f0, #000c40);
}
.Tornado {
    background: linear-gradient(to right, #16222a, #3a6073);
}
.Clear {
    background: linear-gradient(to right, #c6ffdd, #fbd786, #f7797d);
}

.App {
    // max-width: 1100px;
    // margin: auto;
    // padding: 2rem;
    // padding: 2rem;
    // position: relative;
    // width: 100%;
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
    align-items: flex-start;
    // background-color: rgb(255, 113, 113);
}

.middle-container {
    // min-width: 100%;
    // width: 60%;
    // margin: auto;
    margin-top: 2rem;
    padding: 3rem;
    padding-top: 0;
    padding-right: 4rem;
    transition: width 0.3s cubic-bezier(0.5, 0, 0, 0.75);
    // display: flex;
    // justify-content: stretch;
    // background-color: #000;
}
